@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@300;400;500;600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  height: auto;
  /* width: 100vw; */
  background-color: #ffffff;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
nav .logo a {
  font-size: 23px;
  font-weight: 500;
  color: #454847;
  text-decoration: none;
}

/* header .personal-btn {
    padding: 0 20px;
} */
nav .personal-btn i {
  padding: 0 10px;
  font-size: 24px;
  color: #7c807e;
  font-weight: 600;
}
body hr {
  /* background-color: #9A9A9A; এর বদলে */
  background-color: #dadce0; /* হালকা ধূসর */
  border: none;
  height: 1px; /* খুব পাতলা রেখা */
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* height: 10vw;
    width: 50vw; */
  /* margin-top: 50px; */
}
.header h1 {
  font-size: 36px;
  font-weight: 500;
  padding: 50px 0 20px 0;
}
.header p {
  font-size: 12px;
  font-weight: 400;
  width: 600px;
  color: #565b52;
  line-height: 16px;
}
.header p a {
  color: #3a74e1;
}
.main-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
  margin-top: 20px;
}
.main-container .first-con,
.main-container .second-con,
.main-container .third-con {
  width: 100%;
  max-width: 380px;
  height: auto; /* let content determine height */
  min-height: 480px;
  border: 1px solid rgb(185, 175, 175);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
}
.main-container .first-con h4,
.main-container .second-con h4,
.main-container .third-con h4
{
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.main-container .first-con .des p,
.main-container .second-con .des p,
.main-container .third-con .des p
 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.main-container .discount {
  margin-top: 30px;
}
.main-container .discount p del {
  font-size: 25px;
  font-weight: 400;
  color: #747775;
}
.main-container .discount p {
  font-size: 32px;
  font-weight: 500;
  color: #146c2e;
}
.discount p span {
  font-size: 24px;
  font-weight: 400;
}
.discount .validity {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: rgb(69, 67, 67);
  margin-top: 10px;
}
.main-container .plus-btn button {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: #1d43c2;
  border: none;
  margin-top: 18px;
  padding: 10px 100px;
  border-radius: 24px;
}
.main-container .description-con {
  display: flex;
  /* align-items: center; */
  justify-content: center;

  flex-direction: column;
}
.main-container .description-con .title-row {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 15px;
}
.description-con .title-row img {
  height: 18px;
  width: 18px;
}
.description-con .title-row h6 {
  font-size: 13px;
  font-weight: 500;
}
.description-con p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #464847;
  /* margin-top: 12px; */
  padding-left: 33px;
}

@media (max-width: 900px) {
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header h1, p{
    text-align: left;
  }
}
